<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kland.csi.db.dao.UserDao">
    <select id="count" parameterType="User" resultType="int">
        select count(*) from user where username=#{username}
    </select>

    <select id="authenticate" parameterType="User" resultType="String">
        select username from user where username=#{username} and password = #{password}
    </select>

    <update id="forgetPassword" parameterType="User">
        update user set password=#{password} where username=#{username}
    </update>
</mapper>
